body{
    background-color: #0f0f0f;
    color: #fff;
    min-width: 100vw;
}
nav{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid #333;
        gap:20px ;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

}
#cart-container{
display: grid;
 grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
 padding: 40px;
 gap: 20px;
 justify-content: center;
}
.cart-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.cart-item button{
      flex: 1;
    padding: 10px;
    color: white;
    border: none;
    background-color: red;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}