*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    background-color: #7a7ad4;
    color:#333;
    min-height: 100vh;
}
.navbar{
    background-color: #000;
    padding: 16px 5px;
    position:sticky;
    top: 0;
    z-index: 1000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}
.nav-logo h1{
    color: #fff;
    font-size: 24px;
}
.nav-button{
    display: flex;
    gap:10px
}
.nav-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.btn-favourite{
  background-color: tomato;
  color: white;
}
.btn-cart{
 color: white;
 background-color: #3799da;
}

.carousal-section{
    margin: 32px 0;
}
.carousal-container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    
}
.carousal-slide{
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousal-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousal-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    z-index: 100;
}
.carousal-btn.prev {
    left: 10px;
}
.carousal-btn.next {
    right: 10px;
}
.carousal-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }
  .carousal-slide.active {
    display: block;
  }

  /* Css for movies */

  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
  }
.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));;
    gap: 20px;
    margin-bottom: 20px;
}
.movie-card{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}
/* .movie-card:hover{

} */

.movie-poster{
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: #667eea;

}
.movie-poster-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-info{
    padding: 16px;
}
.movie-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}
.movie-year{
    color: #666;
    margin-bottom: 8px;
    font-size: 14px;
}
.movie-genre{
    display: inline-block;
    background-color: #667eea;
    color: white;
    padding: 4px 12px;
    font-size: 12px;
    margin-bottom: 8px;
}
.movie-rating{
    color: goldenrod;
    margin-bottom: 4px;
}

.movie-buttons{
    display: flex;
    gap: 8px;
}
.btn{
    flex: 1;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}


  